.about-container {
  padding-top: 130px;
}

.about-heading {
  text-align: center;
  max-width: 763px;
  margin: 0px auto 80px auto;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
}

.about-count-container {
  border: 3px solid hsla(0, 0%, 100%, 0.1);
  padding: 10px;
  width: 90%;
  margin-bottom: 60px;
  padding: 50px 0px;
  max-width: 1100px;
}

.abount-count-item-number {
  font-size: 60px;
  font-weight: 900;
}

.abount-count-item-heading {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin-right: 8px;
}

.about-mh-ventures {
  margin-bottom: 60px;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.marqueCustom > .overlay {
  --gradient-color: rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) !important;
  --gradient-width: 0px !important;
}

.about-details-container {
  width: 100%;
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.about-detail-item-img-container {
  width: 45px;
  height: 62px;
  margin-bottom: 20px;
}
.about-detail-item-img-container > img {
  width: 100%;
  height: 100%;
}

.about-text-details-container {
  width: 100%;
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 55px;
}

.about-text-details-para {
  font-size: 24px;
  text-align: left;
}

.about-para {
  width: 75%;
  margin: 0px auto;
  font-size: 25px;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 25px;
}
@media (max-width: 930px) {
  .about-heading {
    font-size: 30px;
    padding: 0px 20px;
  }
  .about-text-details-para {
    margin-bottom: 40px;
  }
}
@media (max-width: 750px) {
  .about-heading {
    font-size: 18px;
    padding: 0px 20px;
  }

  .abount-count-item-number {
    font-size: 30px;
    font-weight: 900;
}
.abount-count-item-heading{
  font-size: 15px;
}
  .about-mh-ventures {
    font-size: 25px;
  }
  .about-para {
  
    font-size: 20px;
    
}

  .bottom-space {
    margin-bottom: 20px;
  }
}
